

<style type="text/css">
    body {
        background-color: black;
    }
</style>


<section class="banner_part">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-8">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>A Home For Classic MMORPG Gaming</h1>
                        <p>A community, a platform, and a tool for open-source MMORPG creation and play. CODEX is currently in early development please join us on our Discord server to request a test key.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>