<!DOCTYPE html>
<html>

    <%- partial('_partial/head') %>

    <body>

        <div>
            <%- partial('_partial/nav') %>
            <%- body %>
        </div>

        <%- partial('_partial/footer') %>

    </body>
</html>