<% if (typeof(img) !== 'undefined') { %>
<section class="breadcrumb breadcrumb_bg" style="background-image: url('<%- url_for(img) %>');">
<% } else { %>
<section class="breadcrumb breadcrumb_bg">
<% } %>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        <h2><%- title %></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>