

<footer class="footer_part">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">

                        
                        <iframe src="https://discord.com/widget?id=832788789729689640&theme=light" width="350" height="300" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_footer_part">
                        <h4>Contact Info</h4>
                        <p>Address : Corp Por LTD, Suite 4, New Humberstone House, 40 Thurmaston Lane, Leicester, England, LE5 0TE</p>
                        <p>Email : contact@corppor.com</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://docs.corppor.com">Docs</a></li>
                            <li><a href="https://servx.corppor.com">LUA API</a></li>
                            <li><a href="https://citadelstudios.net">Citadel Studios</a></li>
                            <li><a href="https://store.steampowered.com/games/">Steam Store</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_footer_part text-right">
                        <a href="/" class="footer_logo_iner"> <img src="<%- url_for('/logo_dark.png') %>" alt="#"> </a>
                        <p>
                            <a href="https://github.com/corp-por/codex-website">
                                See something on this page you'd like to change?
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copygight_text">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright © <%- moment().format('YYYY') %> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li><a href="https://discord.gg/6by4JhWbke" class="single_social_icon"><i class="fab fa-discord"></i></a></li>
                            <li><a href="https://github.com/corp-por" class="single_social_icon"><i class="fab fa-github"></i></a></li>
                            <li><a href="https://twitter.com/corp_por" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery-1.12.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>